<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ChattingServlet</servlet-name>
        <servlet-class>chatting.ChattingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChattingClientServlet</servlet-name>
        <servlet-class>client.ChattingClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChattingServlet</servlet-name>
        <url-pattern>/ChattingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChattingClientServlet</servlet-name>
        <url-pattern>/ChattingClientServlet</url-pattern>
    </servlet-mapping>
</web-app>
